@font-face {
font-family: 'Space Ranger Regular';
font-style: normal;
font-weight: normal;
src: local('Space Ranger Regular'), url('font/spaceranger.woff') format('woff');
}

@font-face {
font-family: 'Space Ranger Title Regular';
font-style: normal;
font-weight: normal;
src: local('Space Ranger Title Regular'), url('font/spacerangertitle.woff') format('woff');
}

body {
  font-family:'Space Ranger Regular';
  font-weight:normal;
  font-size:25px;
}

div, p {
  display: flex;
  align-items:  center;
  flex-direction: column;
}

.headers, p {
  text-align: center;
}

.headers {
  font-family:'Space Ranger Title Regular';
  font-weight:normal;
  font-size:25px;
}

#container {
  height: 150px;
}

#refresh, #miles {
  margin: 0.5rem;
  padding: 1rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 1.5rem;
  }

#mapid {
  height: 180px;
  width: 400px;
}
